

body {
    background-color: #2393a4;
    color: #fff;
    font-size:16px;
}
.clearfix {
    clear:both;
}
.nodis {
    display: none;
}
#sidebar{
    background-color: #fff;
    height: 100%;

}


.navbar-toggle .icon-bar{
    background-color: #fff;
    height: 3px;
    width:32px;
}
.navbar-toggle{
    cursor: pointer;
    z-index:10;
    position: fixed;
    top:15px;
    right:10px;
    width: 35px;
    padding:0px;
    border-radius: 0px;
}
.menu_name{
    color: #fff;
    font-size:10px;
}
.top_banner{
    position: absolute;
    margin: 20px 10px 20px 10px;
    width: 100%;
    z-index:-1;
    top:0;
}
.header {
    position: relative;
    display: block;
}

.mt100{
    margin-top: 100px;
}


#sidebar{
    position: fixed;
    padding:0;
    left:0;
    top:0;
    z-index:9;
    -webkit-box-shadow: 5px 0px 10px 0px rgba(50,50,50,0.4);
    -moz-box-shadow: 5px 0px 10px 0px rgba(50,50,50,0.4);
    box-shadow: 5px 0px 10px 0px rgba(50,50,50,0.4);
}
.article-info, .pagenav {
    display: none;
}
.brand_logo {
    text-align: center;
    margin:6vh auto 6vh;
    cursor: pointer;
}
.brand_logo img {
    display: block;
    margin: auto;
}
.brand_logo a {
    color: #2393a4;
    font-weight:bold;
    font-family:"Helvetica Neue",sans-serif;
    font-size:20px;
}
.brand_logo a:hover {
    text-decoration: none;
    cursor: pointer;
}
.page-header h1 {
    font-family:"HelveticaBold",sans-serif;
}




/*.nav {border-top:1px dotted #b4b4b4;}*/

.nav li {
    padding:0 0 0 35px;
    border-bottom:1px dotted #b4b4b4;
    font-size:1.4rem;
    line-height:5rem;
    font-weight:bold;
    -webkit-transition:all ease 500ms;
    -moz-transition:all ease 500ms;
    -o-transition:all ease 500ms;
    -ms-transition:all ease 500ms;
    transition:all ease 500ms;
}
.nav li a {
    display:block;
    color:#313131;
    -webkit-transition:all ease 500ms;
    -moz-transition:all ease 500ms;
    -o-transition:all ease 500ms;
    -ms-transition:all ease 500ms;
    transition:all ease 500ms;
}
.nav li:hover a {color:#fff;}
.nav li:nth-child(1) {box-shadow:inset -5px 0 0 0 #14a9be; border-top:1px dotted #b4b4b4;}
.nav li:hover:nth-child(1) {box-shadow:inset -700px 0 0 0 #14a9be;}
.nav li:nth-child(2) {box-shadow:inset -5px 0 0 0 #ee3435;}
.nav li:hover:nth-child(2) {box-shadow:inset -700px 0 0 0 #ee3435;}
.nav li:nth-child(3) {box-shadow:inset -5px 0 0 0 #ffc000;}
.nav li:hover:nth-child(3) {box-shadow:inset -700px 0 0 0 #ffc000;}
.nav li:nth-child(4) {box-shadow:inset -5px 0 0 0 #d25ea4;}
.nav li:hover:nth-child(4) {box-shadow:inset -700px 0 0 0 #d25ea4;}
.nav li:nth-child(5) {box-shadow:inset -5px 0 0 0 #3cb64a;}
.nav li:hover:nth-child(5) {box-shadow:inset -700px 0 0 0 #3cb64a;}
.nav li:nth-child(1) a {padding:0 0 0 35px;background:url(images/about.png) center left no-repeat;}
.nav li:nth-child(1):hover a {background:url(images/about-hover.png) center left no-repeat;}
.nav li:nth-child(2) a {padding:0 0 0 35px;background:url(images/services.png) center left no-repeat;}
.nav li:nth-child(2):hover a {background:url(images/services-hover.png) center left no-repeat;}
.nav li:nth-child(3) a {padding:0 0 0 35px;background:url(images/price.png) center left no-repeat;}
.nav li:nth-child(3):hover a {background:url(images/price-hover.png) center left no-repeat;}
.nav li:nth-child(4) a {padding:0 0 0 35px;background:url(images/articles.png) center left no-repeat;}
.nav li:nth-child(4):hover a {background:url(images/articles-hover.png) center left no-repeat;}
.nav li:nth-child(5) a {padding:0 0 0 35px;background:url(images/contacts.png) center left no-repeat;}
.nav li:nth-child(5):hover a {background:url(images/contacts-hover.png) center left no-repeat;}


#sidebar_phone p,
.custom_phone p {
    color: #3cb64a;
    margin-top: 18px;
    text-align: center;
    font-size:18px;
    font-family:HelveticaBold, sans-serif;
}
#sidebar_phone p span,
.custom_phone p span {
    font-size:12px;
    top:-2px;
    display: inline-block;
    position: relative;
}
.top_name {
    margin: 100px 30px 40px 0px;
    padding: 0px; border: 0px;
    font-weight: 800;
    font-size: 3.6rem;
    line-height: 4rem;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    vertical-align: baseline;
    color: #ffffff;
    text-align: right;
}
.top_message{
    margin: 0px 30px 0px 0px;
    padding: 0px; border: 0px;
    font-style: italic;
    font-size: 24px;
    line-height: 1.8rem;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    vertical-align: baseline;
    float: right;
    width: 429px;
    color: #ffffff;
    text-align: right;
}

/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    width: 100%;
}

footer {
    padding: 30px 20px 10px;
}

.about_thumb {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}
.page-header h1{
    text-align: center;
    font-size:4.6rem;
    font-family:HelveticaLight, sans-serif;
    margin: 30px 0 50px 0;
}
.item-pageinfo .page-header h1{
    text-align: center;
    font-family:HelveticaLight, sans-serif;
    font-size:4.6rem;
    margin: 30px 0 50px 0;
}
.page-header {
    border-bottom:none;
}
.mt30{
    margin-top: 30px;
}
.mt50{
    margin-top: 50px;
}
.mt100{
    margin-top: 100px;
}
.mt120{
    margin-top: 120px;
}
.mt150{
    margin-top: 150px;
}
.mb30{
    margin-bottom: 30px;
}
.mb50{
    margin-bottom: 50px;
}
.mb100{
    margin-bottom: 100px;
}
.mb120{
    margin-bottom: 120px;
}
.mb150{
    margin-bottom: 150px;
}


.panel-heading {
    text-transform: uppercase;
    cursor: pointer;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    width: 100%;
    box-shadow: inset 0 0 0 0 #ffc000;
    -webkit-transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    -ms-transition: all ease 500ms;
    transition: all ease 500ms;
}

.panel-heading:hover {
    box-shadow: inset 0 60px 0 0 #ffc000;
}

.panel .btn {
    padding: 11px 20px 8px;
    margin: 10px 0 0;
    background: #005b69;
    color: #fff;
    border:none;
    text-align: left;
    display: block;

}
.panel {
    background-color: transparent;
    border:none;
}
.panel td {
    padding: 7px 7px 3px;
    /*border: 1px #14a9be solid;*/
    /*border: 1px rgba(255,255,255,0.1) solid;*/
    border: 1px rgba(0,91,105,0.3) solid;

}
.panel th {
    padding: 7px 7px 3px;
    border: none;
    text-align: center;
    font-weight:lighter;
}


/*.infopage a:focus, .infopage a:hover {*/
    /*color: #fff;*/
    /*text-decoration: none;*/
/*}*/
/*.infopage a:active, .infopage a:hover {*/
    /*outline: 0;*/
/*}*/
.item-pageinfo a {
    color: #fff;
    text-decoration: none;
}
.item-pageinfo .thumb {
    width: 60%;
}
.btn-default {
    text-transform: uppercase;
    background-color: #005b69;
    border: none;
    padding: 7px 10px 3px;
    font-size:12px;
}
.btn-default:hover{
    background-color: #ffc000;
    color: #ffffff;
    -webkit-transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    -ms-transition: all ease 500ms;
    transition: all ease 500ms;
    -webkit-box-shadow: 5px 0px 7px 0px rgba(50,50,50,0.4);
    -moz-box-shadow: 5px 0px 7px 0px rgba(50,50,50,0.4);
    box-shadow: 5px 0px 7px 0px rgba(50,50,50,0.4);
}

/*
 * media
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
    .main {
        padding:0px 25px;
    }
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-left {
        left: 0;
    }


    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    #sidebar {
        left: -50%; /* 6 columns */
        top: 0;
        width: 50%;
        box-shadow: none;

    }
    .active #sidebar {
        top: 0;
        left:0;
        width: 50%;
        -webkit-box-shadow: 5px 0px 10px 0px rgba(50,50,50,0.4);
        -moz-box-shadow: 5px 0px 10px 0px rgba(50,50,50,0.4);
        box-shadow: 5px 0px 10px 0px rgba(50,50,50,0.4);
    }
    .page-header h1{
        font-size:2.6rem;
    }
    .top_name {
        font-size:2.8rem;
    }
    .top_message {
        font-size:20px;
    }
}
@media screen and (max-width: 500px) {


    .row-offcanvas-left.active {
        left: 100%; /* 6 columns */
    }

    #sidebar {
        left: -100%; /* 6 columns */
        top: 0;
        width: 80%; /* 6 columns */
        box-shadow: none;
    }
    .active #sidebar {
        top: 0;
        left:0;
        width: 80%;
        -webkit-box-shadow: 5px 0px 10px 0px rgba(50,50,50,0.4);
        -moz-box-shadow: 5px 0px 10px 0px rgba(50,50,50,0.4);
        box-shadow: 5px 0px 10px 0px rgba(50,50,50,0.4);
    }
    .page-header h1{
        font-size:2.0rem;
    }
    .top_name {
        font-size:2.6rem;
    }
    .top_message {
        font-size:24px;
        width: 90%;
        margin-left:30px;
    }

}
@media screen and (max-height: 800px) {
    .brand_logo {
        margin:6vh auto 6vh;
    }
    .nav li {
        line-height: 5rem;
    }
}
@media screen and (max-height: 750px) {
    .brand_logo {
        margin:5vh auto 5vh;
    }
    .nav li {
        line-height: 4rem;
    }
}
@media screen and (max-height: 650px) {
    .brand_logo {
        margin: 1vh auto 1vh;
    }
    .brand_logo a {
        font-size: 18px;
        line-height: 0.8;
    }
    .nav li {
        line-height: 3rem;
    }
    .custom_phone p {
        margin-top: 18px;
        margin-bottom:10px;
    }
    .brand_logo img {
        display: block;
    }
}
@media screen and (max-height: 456px) {


    .nav li {
        line-height: 3rem;
    }
    .custom_phone p {
        margin-top: 8px;
        margin-bottom:3px;
    }
    .brand_logo img {
        display: none;
    }
}
